.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid currentColor;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  background: none;
  padding: 5px 15px;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 300ms;
  &:hover {
    opacity: 0.5;
  }
}
